 <Config>
	<inputDirectory> 
		F:\Licenta\Input
	</inputDirectory>
	<outputDirectory>
		F:\Licenta\Output
	</outputDirectory>
	<SWNDirectory> 
		F:\unsupervised-sentiment-analysis\SWN\SentiWordNet.txt
	</SWNDirectory>
	<positiveSeedWordsFile> 
		F:\unsupervised-sentiment-analysis\SeedWords\positive-words.txt
	</positiveSeedWordsFile>
	<negativeSeedWordsFile> 
		F:\unsupervised-sentiment-analysis\SeedWords\negative-words.txt
	</negativeSeedWordsFile>
	<storedSemanticGraphsDirectory> 
		F:\Licenta\StoredSemanticGraphs
	</storedSemanticGraphsDirectory>
	<evaluationModelsDirectory> 
		F:\Licenta\EvaluationModels
	</evaluationModelsDirectory>
	<numberOfSeeds>
		MAX
	</numberOfSeeds>
	<seedType>
		OW
	</seedType>
	<seedWords>
		<seedWord>
			good
		</seedWord>
		<seedWord>
			best
		</seedWord>
		<seedWord>
			great
		</seedWord>
		<seedWord>
			amazed
		</seedWord>	
		<seedWord>
			dramatic
		</seedWord>
		<seedWord>
			powerful
		</seedWord>	
		<seedWord>
			slow
		</seedWord>
	</seedWords>
</Config>