 <Config>
	<inputDirectory> 
		C:\Users\Alex\Desktop\Research\Project\Input
	</inputDirectory>
	<outputDirectory>
		C:\Users\Alex\Desktop\Research\Project\Output
	</outputDirectory>
	<SWNPath> 
		C:\Users\Alex\Desktop\Research\Project\unsupervised-sentiment-analysis\SWN\SentiWordNet.txt
	</SWNPath>
	<positiveSeedWordsFile> 
		C:\Users\Alex\Desktop\Research\Project\Input\SeedWords\positive-words.txt
	</positiveSeedWordsFile>
	<negativeSeedWordsFile> 
		C:\Users\Alex\Desktop\Research\Project\Input\SeedWords\negative-words.txt
	</negativeSeedWordsFile>
	<storedSemanticGraphsDirectory> 
		C:\Users\Alex\Desktop\Research\Project\Input\StoredSemanticGraphs
	</storedSemanticGraphsDirectory>
	<evaluationModelsDirectory> 
		C:\Users\Alex\Desktop\Research\Project\Evaluation
	</evaluationModelsDirectory>
	<evaluationMetadataFile>
		C:\Users\Alex\Desktop\Research\Project\Output\EvaluationMetadata.csv
	</evaluationMetadataFile>
	<detailedEvaluationMetadataFile>
		C:\Users\Alex\Desktop\Research\Project\Output\DetailedEvaluationMetadata.txt
	</detailedEvaluationMetadataFile>
	<numberOfSeeds>
		MAX
	</numberOfSeeds>
	<seedType>
		OW
	</seedType>
	<polarityThreshold>
		0.01
	</polarityThreshold>
	<scoringThreshold>
	0.3
	</scoringThreshold>
	<targetFrequencyThreshold>
		2
	</targetFrequencyThreshold>
	<seedWords>
		<seedWord>
			good
		</seedWord>
		<seedWord>
			best
		</seedWord>
		<seedWord>
			great
		</seedWord>
		<seedWord>
			amazed
		</seedWord>	
		<seedWord>
			dramatic
		</seedWord>
		<seedWord>
			powerful
		</seedWord>	
		<seedWord>
			slow
		</seedWord>
	</seedWords>
</Config>